DATABASE_URL=<tu_url_de_postgresql_aca>
PORT=8080
ENV=development
JWT_SECRET=<cambia_esto_por_una_clave_secreta_muy_segura>
REDIS_TCP_ENABLED=false
REDIS_TCP_PORT=6379
DB_MAX_OPEN_CONNS=20
DB_MAX_IDLE_CONNS=10
DB_CONN_MAX_LIFETIME=5m
DB_CONN_MAX_IDLE_TIME=1m
PROMETHEUS_CONFIG_PATH=./prometheus.yml
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
