aws_region         = "us-east-1"
project_name       = "in-memory-db"
environment        = "prod"
instance_type      = "t3.small"

database_url       = "postgresql://user:password@host:5432/database?sslmode=require"
jwt_secret         = "change-this-to-a-very-strong-secret"

port               = "8080"
redis_tcp_enabled  = false
redis_tcp_port     = "6379"
db_max_open_conns  = 20
db_max_idle_conns  = 10
db_conn_max_lifetime = "5m"
db_conn_max_idle_time = "1m"
prometheus_remote_write_url = "https://prometheus-prod-XX-prod-YY.grafana.net/api/prom/push"
prometheus_remote_write_username = "GRAFANA_CLOUD_INSTANCE_ID"
prometheus_remote_write_password = "GRAFANA_CLOUD_METRICS_PUBLISHER_API_KEY"
